

<body>
  <div class="container">
    {{>header}}
    <main>
      <h1>Attach a TIMESTAMP/h1>
      <div class="form">
        <h2>PLINK</h2>
        <img class="plink" src="{{plink.imageUrl}}">
       
          {{#if timestampSize}}
            <form action='/attachTimestamp/{{plink._id}}' method="POST">
              <label for="timestamp">Timestamps</label>
              <select id="timestamp" name="timestamp">
                {{#each timestamps}}
                  <option value="{{_id}}">{{name}}</option>
                {{/each}}
              </select>
              <input type="submit" value="Attach">
            </form>
          {{else}}
          <h3 class="italic">This does not have any extra timestamps now...</h3>
          {{/if}}
          
       
        
        <a class="btn" href="/details/{{plink._id}}">Back</a>
      </div>
    </main>
  </div>
{{>footer}}
</body>
