
  <div class="container">
    {{>header}}
    <main>
      <h1>{{plink.name}}</h1>
      <img class="plink" src="{{plink.imageUrl}}" alt="plink image" />
      <div class="details">
        <p><span>Description:</span> {{plink.description}}</p>
        
        <a class="btn" href="/">Back</a>
        {{#if loggedIn}}
          {{#if owned}}         
            <a class="btn" href="/attachtimestamp/{{plink._id}}">Attach new timestamp</a>
            <br>
            <a class="btn" href="/edit/{{plink._id}}">Edit Plink</a>
            <a class="btn" href="/delete/{{plink._id}}">Delete Plink</a>
         {{/if}}
        {{/if}}
      </div>
      <h2>Timestamps</h2>
      <div class="timestamps">
        {{#each timestamp}}
          <div class="timestamp">
            <img class="plink" src="{{imageUrl}}">
            <h4 class="italic">{{name}}</h4>
            <p><span>Description:</span> {{description}}</p>
          </div>
        {{else}}
        <h3 class="italic">This plink has no current timestamps</h3>
        {{/each}}
      </div>
    </main>
  </div>
  {{>footer}}
